* {
  margin: 0;
  padding: 0;
  font-family: lora, meiweather;
}

.banner {
  width: 100%;
  height: 700px;
  background-image: url(../imgs/Rectangle\ 3BUILDLAST.png);
  background-size: cover;
  background-position: top;
}
.navbar {
  width: 100%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.logo{
  width: 300px;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #6db7ed;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 30%;
  text-transform: translatey(-50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 75px;
  margin-top: 80px;
}
.dark {
  color: #6db7ed;
  background-color: #6db7ed;
}
.light {
  color: #a9cbff;
  background-color: #a9cbff
  ;
}
 hr {
  /* color: #6DB7ED; */
  position: relative;
  height: 5px;
  width: 25%;
  margin: auto;
  opacity: 1;
  border-radius: 20px;
}

img{
  padding: 20px;
}

.container-fluid{
  margin: 40px;
}


.part3{
  background-color: #112e59
}
.part3 p {
  text-align: center;
  padding: 50px;
  color: #ffffff;
}

.image-container {
  position: relative;
  width: fit-content;
}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  width: 100%;
  padding: 10px;
  gap: 15px;
}
h4{
  font-weight: bold;
  font-size: 32px;
}

button {
  padding:12px 40px;
  background-color: #112e59;
  color: white;
  border-radius: 15px;
  border: #112e59;
  text-transform:uppercase;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a9cbff;
  cursor: pointer;
  color: black;
}